[run]
branch = True
source = app
omit =
    VERY_OLD_tools/*
    tests/*
    compiled-mibs/*
    VEERY_OLD-compiled-mibs/*
    OLD-compiled-mibs/*
    plugins/*
    test_plugins.py
    run_agent_with_rest.py

[report]
show_missing = True
skip_covered = False
precision = 2
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: 
    raise NotImplementedError
    pass

[paths]
source =
    app
    */app
